* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: white;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(24, 33, 45) 100%);
}

.todo-container {
    background-color: #ecf0f1;
    border-radius: 15px;
    width: 800px;
    height: 900px;
    margin: 3rem auto;
    padding: 1.5rem;
}

.todo-container header {
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

header>h1 {
    padding-left: 16px;
    border-left: 5px solid #e74c3c;
}
.date-hour {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 16px;
    color: #102F5e;
}

/*  */


.todo-container1{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #45a049;
}
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}


